<title>>My application deployed automatically</title>
<h1>Hello, Welcome to my app!</h1>
Enter the set of strings to the first and second boxes.
Then enter 2 indexes to the last two boxes.
If the first entered index's of the first set of strings and the
second entered index's of the second set of strings has equal length
the result will be true.
Result is {{result}}
<form action="compute" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<textarea name="input3" rows="10" cols="30"></textarea>
<textarea name="input4" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>
